{% extends 'base.html.twig' %}
{% block javascripts%}
    {{ parent() }}
    <script src="{{ asset('./bundles/App/js/administracion/equipos/index.js') }}"></script>
{% endblock %} 
 
{% block contenido %}
    <div id="page-wrapper">
            <br>           
            <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-hdd-o"></i>&nbsp;<b style="font-size: 16px;">Equipos</b>                
                <a href="{{path('newEquipo')}}" style="float: right" class="btn btn-primary btn-circle"><i class="fa fa-plus"></i></a>
            </div>
            <div class="panel-body">
                <div class="dataTable_wrapper">                   
                        <table width="100%" class="table table-striped table-bordered table-hover" id="equiposDataTable" >
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nombre</th>
                                    <th>Ubicacion</th>
                                    <th>Tipo</th>
                                    <th>Ip</th>
                                    <th>Estado</th>
                                    <th>Usr Creacion</th>
                                    <th>Fe Creacion</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set cont = 1 %} 
                                {% for equipo in equipos %}
                                <tr>
                                    <td>{{cont}}</td>
                                    <td>{{equipo.nombre}}</td>
                                    <td>{{equipo.ubicacion.nombre}}</td>
                                    <td>{{equipo.tipo}}</td>
                                    <td>{{equipo.ip}}</td>
                                    <td>{{equipo.estado}}</td>
                                    <td>{{equipo.usrCreacion}}</td>
                                    <td>{{equipo.feCreacion | date('m/d/Y H:i:s')}}</td>
                                    <td>
                                        <a class="fa fa-search" href="{{path('showEquipo',{'id':equipo.idEquipo})}}"></a>&nbsp;
                                        <a class="fa fa-pencil" href="{{path('editEquipo',{'id':equipo.idEquipo})}}"></a>&nbsp;
                                        <a class="fa fa-times" href="{{path('deleteEquipo',{'id':equipo.idEquipo})}}"></a>
                                    </td>
                                </tr>
                                    {% set cont = cont + 1 %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
                <!-- /.row -->
            </div>
        </div>
{% endblock contenido%}
